<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<table id="task_board" class="board">
  <tr>
  <td id="Caption" class="past_task">
    まだ未着手
    <div id="board" class="pastBoardCaption">
    <%=render @tasks %>
    </div>
  </td>
  </tr>
</table>