.title {
	font-weight: bold;
	font-size: 15pt;
}

.version {
	font-size: 9pt;
	font-weight: bold;
}

.label {
	font-size: 10pt;
	font-weight: bold;
    background-color: #FFFFDB;
}

.headerBoard {
	width: 100%;
	background-color: #FFFFFF;
	visibility: visible;
	position: absolute;
	z-index: 0;
}
.board {
	width: 100%;
	background-color: #FFFFFF;
	visibility: visible;
	position: absolute;
	z-index: 0;
}


.boardCaption {
	position: relative;
	width: 90%;
	z-index: 1;
}

.gomiCaption {
	position: relative;
	width: 90%;
}

.todo {
    text-align: left;
	font-weight: bold;
	border: 2px solid #333333;
	background-color: #FFFFFF;
	vertical-align: text-top;
	width: 33%;
	height: 700px;
	overflow: visible;  
}

.doing {
    text-align: left;
	font-weight: bold;
	border: 2px solid #333333;
	background-color: #FFFFFF;
	vertical-align: text-top;
	width: 33%;
	height: 700px;
	overflow: visible;
}

.done {
    text-align: left;
	font-weight: bold;
	border: 2px solid #333333;
	background-color: #FFFFFF;
	vertical-align: text-top;
	width: 33%;
	height: 700px;
	overflow: visible; 
}

.recycle {
	font-size: 9pt;
	border: 1px solid #999999;
	background-color: #FFFFFF;
	vertical-align: text-top;
	width: 150px;
	height: 50px;
	color: #999999;
}

.recycleCaption {
	position: relative;
	width: 90%;
	z-index: 1;
}

.recover {
	border: 1px solid #999999;
	background-color: #FFFFFF;
	vertical-align: text-top;
	width: 150px;
	height: 150px;
	color: #000000;
}

.task {
	background-color: #FFFFDB;
    border: 1px solid #333333;
	font-size: 10pt;
	width: 200px;
	margin: 3px;
	z-index: 4;
	float: left;
	cursor: move;
}
.task2 {
	background-color: #FFFFDB;
    border: 1px solid #333333;
	font-size: 10pt;
	width: 400px;
	margin: 3px;
	z-index: 4;
	cursor: move;
}

.task_priority_bar_1 {
	text-align: right;
	font-size: 9pt;
	background-color: #67BA37;
}

.task_priority_bar_2 {
	text-align: right;
	font-size: 9pt;
	background-color: #9DB1FF;
}

.task_priority_bar_3 {
	text-align: right;
	font-size: 9pt;
	background-color: #FF3333;
}

.datetime {
	font-size: 8pt;
}

.menu_text {
	text-align: left;
	font-weight: bold;
	color: #3725A8;
}
.menu_text2 {
	text-align: right;
	font-weight: bold;
	color: #3725A8;
}

.loginInfo_menu {
	font-weight: bold;
	color: #3725A8;
    width: 100%;
}

.user_info_form {
    text-align: center;
	font-weight: bold;
	color: #3725A8;
    width: 100%;
}
.task_form {
    font-weight: bold;
    font-size: 12pt;
    background-color: #FFFFDB;
    border: 1px solid #333333;
    width: 500px;
	margin: 3px;
}
.header_info{
    text-align: center;
	font-weight: bold;
    font-size: 15pt;
	color: #3725A8;
    width: 100%;
    height: 60px;
}
.sub_header_info{
    text-align: center;
    font-size: 12pt;
#    text-shadow: 2px 2px 2px #000;
	font-weight: bold;
	color: #3725A8;
    width: 100%;
}

.user_info_form{
    text-align: center;
	font-weight: bold;
	color: #4B0082;
    width: 100%;
}

.task_list_menu_bar {
	text-align: center;
	font-size: 9pt;
	background-color: #FFFFDB;
}

.task_list_board {
	text-align: center;
	font-size: 9pt;
    border: 1px solid #333333;
    width: 80%;
}
.task_list_td0{
	text-align: center;
	font-size: 9pt;
    border: 1px solid #9DB1FF;
    background-color: #9DB1FF;
}
.task_list_td1{
	text-align: center;
	font-size: 9pt;
    border: 1px solid #67BA37;
    background-color: #67BA37;
}

.cal_menu_text {
	text-align: left;
	font-weight: bold;
	color: #3725A8;
	text-decoration: none;
    width: 100%;
}
.pastCaption {
	font-weight: bold;
	border: 2px solid #333333;
	background-color: #FFFFFF;
	vertical-align: text-top;
	width: 90%;
	height: 700px;
	overflow: visible;

}