<table>
  <tr><td class="menu_text">
  <%= link_to 'グループ設定', :controller =>'groups', :action => 'index' %> |
  <%= link_to 'タスク一欄へ',  :controller =>'tasks', :action => 'index' %>
  </td></tr>
</table>
<div class="sub_header_info">プロフィール編集</div>

<%= render 'form' %>

